<ion-content>
    <ion-card class="welcome-card">
        <ion-img [src]="skins.image"></ion-img>
        <ion-card-header>
        <ion-card-title>{{skins.nome}}</ion-card-title><br>
        <ion-card-title>{{skins.qualidade}}</ion-card-title><br>
        <ion-card-title>{{skins.exterior}}</ion-card-title><br>
        <ion-card-title>{{skins.tipo}}</ion-card-title><br>
        <ion-card-title>{{skins.sobre}}</ion-card-title><br>
      </ion-card-header>
    </ion-card>      
    <ion-card>
        <ion-card-header>
            <ion-card-title>Sobre</ion-card-title>
            <p>{{skins.sobre}}</p>
        </ion-card-header>
</ion-card>
</ion-content>


